{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a href="{{ base_path }}/" class="masthead__site-brand {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
        <img src="{{ base_path }}/images/lab-logo-header.png" alt="Intelligent MRI Lab logo" class="masthead__site-logo">
      </a>
      <nav id="masthead-nav" class="masthead-nav">
        <button class="masthead-nav__toggle" type="button" aria-expanded="false" aria-controls="masthead-nav-drawer">
          <span class="navicon"></span>
        </button>
        <ul class="masthead-nav__links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}{% if link.title == 'Contact' %} masthead__menu-item--contact{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul id="masthead-nav-drawer" class="masthead-nav__drawer hidden">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item{% if link.title == 'Contact' %} masthead__menu-item--contact{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
